{% extends 'base.html' %}
<title>Admin Dashboard</title>

{% block slidebar %}
            <div class="sidebar-header">
                <h5>Admin DashBoard</h5>
                <strong>DB</strong>
                <hr>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="#">
                        <i class="fas fa-image"></i>
                        Manage Job
                    </a>
                </li>

            </ul>

{% endblock %}