{% extends 'home/base.html' %}
{% load static %}
<title> {% block title %} {{block.super}} :: Employee Signup {% endblock %} </title>

{% block content %}
<link rel="stylesheet" href="{% static 'user/css/validation.css' %}">
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up for Employee</h5>
                    <hr class="my-4">
                    <form class="form-signup" id="employee_signup_form" data-s-url="{% url 'address:load_state' %}"
                          data-d-url="{% url 'address:load_district' %}"
                          data-m-url="{% url 'address:load_municipality' %}"
                          data-post-url="{% url 'employee:register_employee' %}"
                          data-bind="submit: save"
                    >

                        <div class="form-group">
                            <label>Full Name *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>


                                <input type="text" data-bind="value: fullName" name="full_name" placeholder="Full Name "
                                       id="id_full_name" class="form-control"
                                       required="true" maxlength="30">
                                <div class="id_full_name_error"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>User Name *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>

                                <input type="text" name="username" data-bind="value: userName" placeholder="Username"
                                       class="form-control" required="" id="id_username" maxlength="150">
                                <div class="id_username_error"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Mobile Number *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone-number"></i></span>
                                </div>

                                <input type="text" data-bind="value: mobileNumber" name="mobile_number"
                                       placeholder="Mobile Number " id="id_phone_number" class="form-control"
                                       required="true" maxlength="10">
                                <div class="id_phone_number_error"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Email *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                <input type="email" name="email" data-bind="value: email" placeholder="E-Mail"
                                       class="form-control" required="true" id="id_email" maxlength="254">
                                <div class="id_email_error"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Address </label>
                            <br>
                            <!--                         <div class="col-sm-12 col-md-12 col-lg-15 mx-auto">-->
                            <label>State *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-map-marker"></i></span>
                                </div>
                                <select name="state" class="form-control" data-bind="options: stateList, optionsText: 'name',
                                 optionsValue: 'id', value: selectedState,
                                 optionsCaption: 'Choose State...' "></select>

                            </div>

                            <label>District *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-map-marker"></i></span>
                                </div>
                                <select name="district" class="form-control" data-bind="options: districtList, optionsText: 'name',
                                 optionsValue: 'id', value: selectedDistrict,
                                 optionsCaption: 'Choose District...' "></select>

                            </div>

                            <label>Municipality *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-map-marker"></i></span>
                                </div>

                                <select name="municipality" class="form-control" data-bind="options: municipalityList, optionsText: 'name',
                                 optionsValue: 'id', value: selectedMunicipality,
                                 optionsCaption: 'Choose Municipality...' "></select>
                            </div>
                            <label>Ward Number *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-map-marker"></i> </span>
                                </div>
                                <input name="wardno" type="number" min="1" data-bind="value: wardNumber" name="wardno"
                                       class="form-control" placeholder="Ward Number"/>
                            </div>
                            <label>Street *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-map-marker"></i> </span>
                                </div>
                                <input name="street" type="text" data-bind="value: street" name="street"
                                       class="form-control" placeholder="Street"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>

                                <input name="password" id="password" type="password" data-bind="value: password"
                                       placeholder="Password" class="form-control" required="" id="id_password1">
                                <div class="id_password1_error"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Confirm Password *</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                </div>

                                <input type="password" name="cpassword" placeholder="Confirm Password"
                                       class="form-control" required="" id="id_password2">
                                <div class="id_password2_error"></div>
                            </div>
                        </div>


                        <br>

                        <!--<div class="more-option terms">-->
                            <!--<div class="form-check">-->
                                <!--<input class="form-check-input" type="checkbox" value id="candidate-agree">-->
                                <!--<label class="form-check-label" for="defaultCheck2">-->
                                    <!--I accept the <a href="/pages/terms-and-conditions/">terms &amp; conditions</a>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <br>
                        <button type="submit" style="background-color:#435df8;"
                                class="btn btn-md button primary-bg btn-block">Register
                        </button>
                        <button type="button" style="background-color:#dc3545;"
                                class="btn btn-md button info-bg btn-block" data-dismiss="modal">Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="{% static 'user/js/employee_form_validation.js' %}"></script>
<script src="{% static 'js/knockout.js' %}"></script>
<script src="{% static 'employee/js/employee_address.js' %}"></script>
{% endblock %}




