<div class="container">
    <h4 class="bg-info text-white m-2 p-2">About Us</h4>
    <p class="m-2">"Rojgar Application" is a web-based application. It provides a platform to employee to work through
        it and client (i.e. person who needs service.) to find out employee. It acts as an inter-mediatory role between
        employee and client.</p>


</div>
<div class="container">
    <p class="m-2">
        Rojgar Application provides a digital platform for everyone who wants to work and earn money. It includes various
        major categories and sub categories such as Information and Technology, Teacher, Farmer, Repair, design, cleaning,
        rituals, event, travel and tours, vehicles hire, delivery, technicians, medical and multi skilled professionals are
        the major categories. 
    </p>
</div>
