{% extends 'home/base.html' %}
{% load static %}
<title>{% block title %}{{block.super}} :: Employee{% endblock %}</title>
{% block content %}
<link rel="stylesheet" href="{% static 'home/css/service.css' %}"/>

<!-- ko if: employeeService().length<1 -->
<div data-bind="" class="jumbotron mt-2">
  <div class="container">
    <h4>Sorry, Employees are not found !</h4>
  </div>
</div>
<!-- /ko -->
<div class="container">
    <div class="row">
        <!-- ko foreach: employeeService -->
        <div class="col-md-2 bg-light rojgar-service">
            <img class=" mx-auto d-block job-img" width="100px" height="100px" src=""/>
            <p data-bind="text: emp_name"></p>
            <p data-bind="text: emp_mobile_number"></p>
            <a class="btn btn-info" data-bind="click: $root.loadEmployeeDetail" href="#">Detail</a>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" data-bind="click: $root.requestEmployee" href="#">Request</a>
            {% endif %}
        </div>
        <!-- /ko -->
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/knockout.js' %}"></script>
<script src="{% static 'home/js/employee_service.js' %}"></script>
{% endblock %}