
<!-- Footer -->
<footer class="container-fluid m-0"  style="background-color:#382e38;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a  href="{% url 'home:home' %}" style="color:white;">Home</a>
          </li>
           <li>
            <a href="{% url 'home:service' %}"style="color:white;">Services</a>
          </li>
          <li>
            <a href="{% url 'home:contact' %}"style="color:white;">Contact Us</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href=""style="color:white;">Login</a>
          </li>
          <li>
            <a href="" style="color:white;">Sign Up</a>
          </li>
        </ul>

      </div>
       <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href=""style="color:white;">FAQ</a>
          </li>
          <li>
            <a href="" style="color:white;">Privacy Policy</a>
          </li>
           <li>
            <a href="" style="color:white;">Terms of Services</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"style="color:white;">© 2019
    <a href=""style="color:white;"> Rojgar.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

