{% extends 'home/base.html' %}
{% load static %}
<title>{% block title %}{{block.super}} :: Service{% endblock %}</title>
{% block content %}
<link rel="stylesheet" href="{% static 'home/css/service.css' %}"/>
<div class="container">
    <div class="row">
        <div class="col-md mt-2">
            <h5 class="text-white bg-info p-2">List of Services</h5>
        </div>

    </div>
    <div class="row">
        <div class="col-md">
            <form id="search_employee"
            data-d-url="{% url 'address:load_districts' %}">
                <b>Search:</b>
                <select data-bind="options: $root.serviceList,
                                                           optionsText: 'name',
                                                           optionsValue: 'id',
                                                           value: selectedService,
                                                           optionsCaption: 'Choose Service...'">
                    </select>
                <select  data-bind="options: districtList, optionsText: 'name',
                                 optionsValue: 'id', value: selectedDistrict,
                                 optionsCaption: 'Choose District...' ">

                </select>


                <a class="btn btn-success" data-bind="click: search" href="#">Search</a>
            </form>


        </div>
    </div>
</div>


<div class="container mt-2" data-bind="template: { name: 'service_template', foreach: service }">

</div>

<script type="text/html" id="service_template">
<div class="row">
   <div class="col-md-2">
    <h5 class="bg-info text-white p-2" data-bind="text: name"></h5>
   </div>

</div>
<div class="row">
<!-- ko foreach: job_list -->
    <!-- ko template: 'job_template' -->
    <!-- /ko -->
<!-- /ko -->
</div>

<!-- ko foreach: category_list -->
    <!-- ko template: 'service_template' -->
    <!-- /ko -->
<!-- /ko -->

</script>

<script type="text/html" id="job_template">
        <div class="col-md-2 bg-light rojgar-service">
            <img class=" mx-auto d-block job-img" width="100px" height="100px" data-bind="attr: { src: image }"/>
            <a class="text-info" href="#"  data-bind="text: name, click: $root.loadEmployee"></a>
        </div>

</script>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/knockout.js' %}"></script>
<script src="{% static 'home/js/service.js' %}"></script>


{% endblock %}