{% extends 'employee/employee_dashboard.html' %}
{%load static %}
{% block employee %}
<div>
    <div class="col-md-6 m-2">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Service</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Service</span>
                        </div>
                        <select id= "emp_service" class="form-control" data-bind="options: $root.serviceList,
                                                           optionsText: 'name',
                                                           optionsValue: 'id',
                                                           value: service,
                                                           optionsCaption: 'Choose Service...'">
                    </select>
                    </div>

                </form>
            </div>
            <input type="hidden" id="empID" value="{{ user.user_emp.id }}"/>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success" data-bind="click: save">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/knockout.js' %}"></script>
<script src="{% static 'employee/js/add_service.js' %}"></script>
{% endblock %}