{% extends 'job/manage_category.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">
                     <h6 class="card-title bg-info text-white p-2">Create New Category</h6>
                     <form>

                          <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th>Parent Category</th>
                                    <th>New Category</th>
                                    <th width="10%">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                            <!-- ko foreach: categoryList -->
                                <tr>
                                   <td>
                                       <select data-bind="options: $root.oldCategoryList,
                                                       optionsText: 'name',
                                                       optionsValue: 'id',
                                                       value: parent,
                                                       optionsCaption: 'Choose Category...'"></select>
                                                       </td>
                                    <td><input type="text" data-bind="value: name" class="form-control"/></td>
                                    <td><button class="btn btn-sm" data-bind="click: $root.removeCategory"><i class="fas fa-trash-alt text-danger"></i></button></td>
                                </tr>
                               <!-- /ko -->
                              </tbody>
                          </table>
                          <button class="btn btn-secondary btn-sm" data-bind="click: addCategory"><i class="fas fa-plus-circle"></i> Add new category</button>
                          <hr>
                         <button class="btn btn-success btn-sm float-right" data-bind="click: saveCategory"><i class="fas fa-save"></i> Save</button>
                     </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

 <script src="{% static 'js/jquery.js' %}"></script>
 <script src="{% static 'js/knockout.js' %}"></script>
 <script src="{% static 'job/js/category.js' %}"></script>
{% endblock %}
