{% extends 'dashboard/admin_dashboard.html' %}
<title>{% block title %} Manage-Job {% endblock %}</title>
{% block breadcrum %}
<a href="{% url 'dashboard:admin_dashboard' %}">{{ block.super }}</a> / <a href="#">Manage Job</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
       <!-- Button to Open job form -->
      <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createJob">-->
      <a href="{% url 'job:create_job' %}" class="btn btn-primary btn-sm">
        <i class="fas fa-plus-circle"></i> Create Job
      </a>

    </div>
    <div class="col-md-8">
       <h5>Job List</h5>
    </div>
  </div>
  <hr>
   <table class="table table-striped p-3">
    <thead>
      <tr>
        <th>S.N.</th>
        <th>Category</th>
        <th>Job</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<!--include create job-->
{% include 'job/create_job.html' %}
{% endblock %}