{% extends 'home/base.html' %}
{% load static %}
<title>{% block title %}{{ block.super }}::Service Request{% endblock %}</title>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md mt-3">
            <p class="text-white bg-info p-2">Service Request</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <input type="hidden"  id="client_id" value="{{ user.user_client.id }}"/>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea data-bind="value: description" type="email" rows="5" class="form-control" id="desc" placeholder="Write Description"></textarea>
                </div>
                <a class="btn btn-success" data-bind="click : send" href="#">Send</a>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/knockout.js' %}"></script>
<script src="{% static 'servicerequest/js/servicerequest.js' %}"></script>

{% endblock %}